<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          http://maven.apache.org/xsd/settings-1.0.0.xsd">
      
	<profiles>
		<profile>
			<id>jhipster</id>
			<properties>
				<!-- dev -->
				<spring.mail.port>25</spring.mail.port>
				<spring.server.port>8080</spring.server.port>
				<spring.logging.logstash.port>5000</spring.logging.logstash.port>
				<h2.webport>8082</h2.webport>
				<webpack.port>9060</webpack.port>
				<browsersync.port>9000</browsersync.port>
				<!-- tests -->
				<server.port>10344</server.port>
				<jhipster.logging.logstash.port>5000</jhipster.logging.logstash.port>
			</properties>
		</profile>
	</profiles>
      <activeProfiles>
	      <activeProfile>jhipster</activeProfile>
      </activeProfiles>
</settings>